body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.clock 
{
	width: 101px;
	height: 101px;
	background: #ffffff;
	border: transparent;
	border-radius: 50%;
	transform: scale(3) rotate(180deg);
}

.clock .hours
{
	position: absolute;
	left: 48px;
	top: 50px;
	border: 3px solid black;
	height: 30%;
	color: black;
	border-radius: 2px;
}

.clock .minutes
{
	position: absolute;
	left: 50px;
	top: 50px;
	border: 1px solid black;
	height: 45%;
	border-radius: 1px;
}

.clock .seconds
{
	position: absolute;
	left: 50px;
	top: 50px;
	border: 1px solid red;
	height: 45%;
	border-radius: 1px;
}

.hand
{
	transform-origin: top center;
}

.animate
{
	animation-name: rotate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes rotate
{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}


.textbox
{
	position: absolute;
	top: 480px;
	left: 730px;
	width: 500px;
	height: 200px;
	background-color: rgb(255, 255, 255);
	border-radius: 40px;
	text-align: center;
	justify-content: center;
	font-size: 110px;
	font-weight: 700;
	font-family: "Inconsolata";
	color: black;
	box-sizing: border-box;
	border: transparent;
	padding-top: 30px;
}
